body {
  font-weight: normal;
  padding-bottom: 100px;
  background-image: url("../img/triangles.png") !important;
  background-color: rgba(74, 121, 147, 0.89);
  background: radial-gradient(farthest-side ellipse at 10% 0, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png");
  background: -webkit-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png");
  background: -moz-radial-gradient(10% 0, farthest-side ellipse, rgba(74, 121, 147, 0.89), rgba(226, 226, 226, 0.87), rgba(185, 135, 131, 0.87)), url("../img/bgnoise_lg_dark.png");
}

.logo2 {
  height: 50px;
  width: 50px;
  text-align: left;
  margin-right: -10px;
  display: inline-block;
}

.logo2.s75 {
  height: 75px;
  width: 75px;
  text-align: left;
  margin: 10px 0 20px ;
  display: inline-block;
}

.logo2 img {
  height: 100%;
  width: 100%;
  display: inline-block;
}

.res-hours {
  text-align: center;
  padding-top: 26px;
}
.res-hours .large {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 10px
}

.resource-calendar-wrap {
  width: 100%;
  overflow-x: scroll;
  overflow-y: visible;
}

.page-header .nav > li > a {
  width: auto !important;
  font-size: 1.1em;
  height: 50px !important;
  vertical-align: middle !important;
  line-height: 50px !important;
}

.page-header .nav > li {
  margin-right: 30px;
}

.page-header .nav > li.nav-active > a { /*had to do inline*/
  color: #FFC700 !important;
}

.page-header .nav {
  margin-top: 10px;
  margin-bottom: -10px;
}

nav {
  padding-top: 0 !important;
}

nav .business {
  text-align: center;
  font-size: 1.2em;
  padding: 5px 0;
  margin-top: 0 !important;
  border-bottom: 1px solid #ddd;
}

.login-widget {
  margin-top: -75px !important;
}

.side-nav .new {
  color: #aaa;
  font-style: italic;
}

.side-nav .active, .side-nav .active > a {
  border-bottom: 1px solid #ddd;
}

.side-nav .active > a {
  border-bottom: 1px solid #eee;
}

.side-nav a {
  width: auto !important;
}

.side-nav .project {
  background-color: whitesmoke;
}

.side-nav .panel-collapse li a i[class*="fa"] {
  float: left !important;
  margin-left: -25px !important;
}

.side-nav i[class*="fa"]:hover {
  opacity: .8;
}

.side-nav .panel-collapse .panel-collapse > li a {
  padding-left: 30px !important;
  font-size: .9em;
}

.sidebar {
  /*float: none !important;*/
  margin: 0;
  width: auto !important;
  padding: 0 !important;
}

.sidebar.below {
  margin-top: 40px;
}

@media (max-width: 1048px) {
  #side-nav li.business-category .name {
    display: inline !important;
  }
  .side-nav .panel-collapse li a i[class*="fa"] {
  float: left !important;
  margin-left: 0 !important;
  }
}

.timesheet .daily-time th.hours {
  padding-right: 25px;
}

.timesheet {
  padding-bottom: 60px;
}

.timesheet td {
  vertical-align: middle !important;
}

.timesheet .hours button.edit {
  display:inline-block;
  font-size:1.3em;
  margin: 0 15px; 
  width:35px; 
  padding: 5px 10px;
}

.timesheet .hours .add-time {
  display:inline-block;
  width: 150px; 
  float:right; 
  margin:0;
}

.timesheet .hours, .timesheet .hours input{
  text-align: right;
}

.timesheet .header-buttons {
  float: right;
  font-size: .8em;
  margin-right: 15px;
}



.timesheet h4 {
  vertical-align: middle;
  margin-bottom: 20px;
}

.timesheet .day-select {
  text-align: center;
  vertical-align: middle;
  margin: 60px 0 50px 0;
}

.timesheet .day-select td{
  border-top: none;
  border-right: solid 1px #aaa;
  width: 12%;
}



.timesheet .day-select td:last-child{
  border-right: none;
}

.timesheet .day-select th{
  border-top: none;
  text-align: center;
  padding-bottom: 25px;
}

.timesheet .day-select td:hover, .timesheet .day-select td.active{
  background-color: #eee;
}

.timesheet .day-select .arrow{
  font-size: 2.2em;
  width: 8%;
  cursor:pointer;
}

.timesheet .day-select .arrow:hover{
  font-size: 3em;
  background-color: white;
  color: #444;
}

/*had to do this inline to work*/
.timesheet tbody tr:last-child td {
  border-bottom: solid 1px #ddd important!;
}

.timesheet .weekly-time td .form-group {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
}

.timesheet .weekly-time .hours {
  width: 8%;
  min-width: 55px;
}

.timesheet .weekly-time th.hours {
  text-align: center;
}


.cat-label {
  font-size: .85em;
  font-style: italic;
  color: #888;
}

.clash{
  font-size: .85em;
  font-style: italic;
  color: red;
}

table .delete {
  font-size: 1.2em;
  color: #888;
}
table .delete:hover {
  color: #444;
  cursor: pointer;
}

.timesheet .weekly-time  th {
  border: none;
}

.timesheet .weekly-time .button-cell {
  text-align: center;
}

.timesheet .dates {
  display: inline-block;
  text-align: left;
  margin-bottom: 30px;
}

.timesheet .dates .date-label {
  font-size: 1.5em;
}

.timesheet .week-select {

  margin-top: 10px;
}


.timesheet .weekly-time tfoot td {
  border-top: 2px solid #444 important; /* had to do inline */
  font-weight: bold;
}


.timesheet tfoot td.save-status {
  text-align: left;
  font-style: italic;
  color: #888;
  font-weight: normal;
}

.weekly-time {
  margin-bottom: 50px;
}

.phase-table td, .phase-table th {
  width: 20%;
  text-align: right;
}


.phase-table .name {
  width: 30%;
  text-align: left;
}

.phase-table .budget {
  width: 12%;
}

table .delete, table .edit {
  font-size: 1.2em;
  color: #888;
  width: 6%;
  text-align: right;
}

table .edit {
  font-size: 1em;
}

table .delete:hover, table .edit:hover {
  color: #444;
  cursor: pointer;
}

.phase-button {
  margin-left: 5px;
}



.staff-av .hours {
  width: 12%;
  min-width: 55px;
}

.staff-av .hours input{
  
  text-align: right;
}

.staff-av th.hours {
  text-align: center;
}

.staff-av td .form-group {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
}

.stats-table p {
  margin: 0;
}

.stats-table tbody tr td, .stats-table thead tr th{
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}

.stats-table td.stat, .stats-table th.stat {
  width: 28%;
}

.stats-table th.stat p {
  margin-bottom: 8px;
}


.sidebar-heading {
  margin: 40px 0 20px;
  color: white;
}
