.side-menu {
	background-color: white;
	width: 230px;
	height: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 30px 30px 30px 30px;
}
.side-menu ul li{
	list-style: none;
	cursor: pointer;
}

.side-menu ul li:hover{
	color: blue;
}

body {
	background-color: #444;
	height: 100%;
}
body, html {
	height: 100%;
	margin:0;
	padding: 0;
}
.side-menu .active {
	color: red;
}