body {
	font-family: "Open Sans", sans-serif;
	color: #444;
	vertical-align: text-top;
}

.time-widget {
	margin: .8em;
	display: inline-block;
	max-width: 250px;
}

.time-entry-wrapper {
	display: inline-block;
	border: 1px solid #cccccc;
	border-color: #d9d9d9 #cccccc #b3b3b3;
}

.time-entry {
	margin: 0;
	display: inline-block;
	width: 3em;
	height: 3em;
	float:left;
	padding: .7em .3em;
}




.time-entry-input {
	width: 2.4em;
	height: 1.6em;
	margin:0;
	text-align: center;
	vertical-align: middle;
}

.time-comment {
	height: 3em;
	display: inline-block;
	margin: 0;
	color: #666;
	border-left: 1px solid #ccc;
	float:left;
	padding: .7em;
	cursor: pointer;
}

.time-comment.buttton {
	width: 3em;
	margin: 0;
	color: #666;
	text-align: center;
	cursor: pointer;
}

.time-comment.buttton:hover{
	color: #444;
}

.time-entry.inbg {
	color: #666;
	box-shadow: inset -4px 2px 5px rgba(97, 143, 176, 0.1);

}

.inbg:hover {
	cursor: text;
	color: #444;
}

.inbg input {
	box-shadow: none;
	border: none;
}

.inbg i, .inbg i:hover {
	color: #aaa;
	padding: .2em;
}

.time-comment.open{
	/* box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); */
	/* padding-left: .5em; */
}

.time-comment.open:last-of-type{
	/* box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1); */
}

.time-entry-wrapper.multi {
	margin-top: -6px;
	margin-bottom: 0;
}

.time-entry-wrapper.multi:first-of-type {
	margin-top: 0px;
}
