<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Coincraft Main Layout</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../../node_modules/react-bootstrap/dist/react-bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body>

    <div class="layout">
      <div class="menu column">
        <div style="height: 35em;" class="widget"></div>
      </div>
      <div class="content column">
        <div style="height: 25em;" class="widget"></div>
        <div style="height: 35em;" class="widget"></div>
        <div style="height: 25em;" class="widget"></div>
      </div>
      <div class="info column">
        <div style="height: 30em;" class="widget"></div>
        <div style="height: 20em;" class="widget"></div>
      </div>
    </div>

  </body>
</html>