<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Project Dropdown</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../../node_modules/react-bootstrap/dist/react-bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/widget.css">

    <script>
    $( document ).ready(function() {
      $('.day').click(function(){
        $('.timebox').remove();
        offset = $(this).offset()
        console.log($(this).offset());
        timebox = $('<div class="timebox"></div>');
        $('body').append(timebox);
        timebox.offset(offset);
        console.log(timebox.offset());
      });
    });
    </script>

  </head>
  <body>

    <div class="widget">
      <div class="title">
        <h2>Timesheets: Nov 9 - Nov 15 2015</h2>
        <span class="buttons"><button>Daily</button><button>Weekly</button></span>
      </div>
      <div class="body">

        <table>
          <tr>
          <td style="border: none;height: 35px; font-size:1.4em; font-weight: 600;" ></td>
           <td colspan="2" style="width:163px;height: 35px;">&lt;</td>
           <td colspan="3" style="width:246px;height: 35px;">This Week</td>
           <td colspan="2" style="width:163px;height: 35px;">&gt;</td>
           <td class="del" style="width:35px; border: none;height: 35px;"></td>
          </tr>
        </table>

        <table class="timesheet">

          

          <tr class="heading">
            <td class="sel">Projects</td>
            <td class="day">Mon<br /><span class="date">(Nov 09)</span></td>
            <td class="day">Tue<br /><span class="date">(Nov 10)</span></td>
            <td class="day">Wed<br /><span class="date">(Nov 11)</span></td>
            <td class="day">Thu<br /><span class="date">(Nov 12)</span></td>
            <td class="day">Fri<br /><span class="date">(Nov 13)</span></td>
            <td class="day we">Sat<br /><span class="date">(Nov 14)</span></td>
            <td class="day we">Sun<br /><span class="date">(Nov 15)</span></td>
            <td class="del"></td>
          </tr>

          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>

          <tr class="heading" ><td class="sel" colspan="1" style="border-right: none;">Marketing</td><td colspan="8" style="border-left: none;"></td></tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>

          <tr class="heading" ><td class="sel" colspan="1" style="border-right: none;">Admin</td><td colspan="8" style="border-left: none;"></td>
</tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel">
              <div class="project-dropdown">
              <p class="proj-text">15-001: Walsh Street - A.1: Concept Design</p>
              <i class="fa fa-chevron-down"></i>
              </div>
            </td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="day we"><input type="text" value="3:00" class="time-input" ></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr class="heading"><td colspan="9" style="border-left: none; height: 1em;"></td></tr>
          <tr class="total">
            <td>+ Add New Time Entry</td>
            <td class="day">0:00</td>
            <td class="day">0:00</td>
            <td class="day">0:00</td>
            <td class="day">0:00</td>
            <td class="day">0:00</td>
            <td class="day we">0:00</td>
            <td class="day we">0:00</td>
            <td style="border-left:none;" class="del"></td>
          </tr>
        </table>
      </div>
      <div class="footer">
        <button>Cancel</button><button>Save</button>
      </div>
    </div>

    <div class="widget">
      <div class="title">
        <h2>Timesheets: Nov 15 2015</h2>
        <span class="buttons"><button>Daily</button><button>Weekly</button></span>
      </div>
      <div class="body">

        <table>
          <tr>
          <td style="border: none;height: 35px; font-size:1.4em; font-weight: 600;" ></td>
           <td style="width:59px;height: 35px;">&lt;</td>
            <td style="width:59px;" class="day">Mon</td>
            <td style="width:59px;" class="day">Tue</td>
            <td style="width:59px;" class="day">Wed</td>
            <td style="width:59px;" class="day">Thu</td>
            <td style="width:59px;" class="day">Fri</td>
            <td style="width:59px;" class="day">Sat</td>
            <td style="width:59px;" class="day">Sun</td>
           <td  style="width:59px;height: 35px;">&gt;</td>
           <td class="del" style="width:35px; border: none;height: 35px;"></td>
          </tr>
        </table>

        <table class="timesheet">

          

          <tr class="heading">
            <td class="sel">Project</td>
            <td class="day">Hours</td>
            <td >Notes</td>
            <td class="del"></td>
          </tr>

          <tr>
            <td class="sel"></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel"></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td class="sel"></td>
            <td class="day"><input type="text" value="3:00" class="time-input" ></td>
            <td></td>
            <td class="del"><i class="fa fa-times"></i></td>
          </tr>
          <tr class="total">
            <td>+ Add New Time Entry</td>
            <td class="day">0:00</td>
            <td style="border-top:solid 2px #666"></td>
            <td class="del"></td>
          </tr>
        </table>
      </div>
      <div class="footer">
        <button>Cancel</button><button>Save</button>
      </div>
    </div>

    

  </body>
</html>