body {
	background-color: #444;
	text-align:center;
	margin: 0;
}

div {
}

.layout {
	width: 100%;
	min-width: 59em; /*approx 960px remove 1em for scrollbar*/
	max-width: 120em;
	min-height: 100%;
	background-color: transparent;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
	padding: 0.5em;
	box-sizing: border-box;
}

.menu {
	width: 17%;
	min-width: 9em;
	max-width: 15em;
}

.content {
	width: 60%;
	min-width: 29em;
	max-width: 60em;
}

.info {
	width: 23%;
	min-width: 15em;
	max-width: 25em;
}
.column {
	padding: 0.5em;
	box-sizing: border-box;
}

.widget {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	margin: 1em 0;
}