body {
	background-color: #444;
	/* text-align:center; */
	margin: 0;
}

div {
}

.layout {
	width: 100%;
	min-width: 59em; /*approx 960px remove 1em for scrollbar*/
	max-width: 120em;
	min-height: 100%;
	background-color: transparent;
	padding: 0.5em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
	box-sizing: border-box;
}

.column.menu {
	width: 17%;
	min-width: 9em;
	max-width: 15em;
	padding: 0.5em;
}

.column.content {
	width: 83%;
	min-width: 44em;
	max-width: 85em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	flex-direction: row;
}

.sub-column.body {
	width: 72%;
	min-width: 29em;
	max-width: 61em;
	padding: 0.5em;
}

.sub-column.info {
	width: 28%;
	min-width: 15em;
	max-width: 25em;
	padding: 0.5em;
}
.column, .sub-column {
	box-sizing: border-box;
}

.widget {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
	margin: 1em 0;
}