body {
	padding: 2em;
	font-family: "Open Sans", sans-serif;
	color: #444;
	background: #444;
}

.widget {
	border: solid 1px #c9c9c9;
	min-height: 5em;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
	margin: 3em;
	background: white;
	max-width: 61em;
	min-width: 29em;
	width: 100%;
}

.widget .title {
	border-bottom: solid 1px #e4e4e4;
	padding: 1em;
}

.widget .title .buttons{
	float: right;
}

.widget .body {
	padding: 1em;
	text-align:center
}

.widget .footer {
	padding: 1em;
	border-top: solid 1px #e4e4e4;
	text-align: right;
	
}

.widget .title h2{
	font-size: 1.8em;
	font-weight: 500;
	margin: 0; 
	display: inline-block;
}

.widget table.timesheet {
	width: 100%;
	table-layout:fixed;
	border-collapse: collapse;
	display: inline-table;
	font-size: 100%;
	max-width: 61em;
}

.widget table td {
	text-align:center;
	border: 1px solid #ddd;
	height: 45px;
}
table.timesheet td.day {
	width: 7.5%;
	text-align: center;
	max-width: 42%;
	border-left: 0px;
	border-right: 0px
}

table.timesheet td.day input{
	width: 80%;
	border: none;
	background: transparent;
	text-align: center;
	font-size: .9em;
}

table.timesheet td.del {
	width: 3.5%;
}

table.timesheet td.sel {
}

table.timesheet .total{
	border-top: solid 2px #666;
	font-weight: 600;
}

table.timesheet .heading td {
	border: none;
	font-weight: 600;
	height: 3em;
	vertical-align: bottom;
	padding-bottom: .5em;
}



/* .timebox {
	background: white;
	width: 248px;
	height: 70px;
	border: solid 1px #ccc;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.25);
} */



.project-dropdown {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.project-dropdown p, .project-dropdown i{
	padding: .5em 1em;
}

.project-dropdown i{
	font-size: 1.2em;
}

.project-dropdown p{
	width: 100%;
	font-size: .90em;
}

table.timesheet .sel, table.timesheet .del {
    background-color: #ffffff;
    cursor: pointer;
    color: #666;
}

table.timesheet .sel:hover, table.timesheet .del:hover {
    border: 1px solid #cccccc;
    border-color: #d9d9d9 #cccccc #b3b3b3;
    color: #333;
    background-color: #fcfcfc;
}

table.timesheet .day.we, table.timesheet .day.we input {
	color: #888;
}

table.timesheet tr:not(.heading):not(.total):hover td, table.timesheet tr:not(.heading):not(.total):hover td input{
	color: #000;
	/* background-color: #fcfcfc; ugh overlaps cell hover drop shadow */
	z-index: 1;
	font-weight: 500;
}

.widget table tr:not(.heading):not(.total) td.day:hover {
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
	background-color: #fcfcfc;
	z-index: 2;
}

table.timesheet .heading td:first-child {
	text-align: left;
	padding-left: .8em;
	font-size: 1.4em;
	font-weight: 400;
}

table.timesheet .day .date {
	font-weight: 300;
	font-size: .8em;
}

 @media screen and (max-width: 56em) { /* when widget is approx 800px */
    table.timesheet td {
        font-size: .9em;
    }
}

 @media screen and (max-width: 45em) { /* when widget is approx 650px */
    table.timesheet td {
        font-size: .8em;
    }
}